//colors

$color-white: #fff;

$color-grey: #eeeff1;
$color-grey-dark: #788290;
$color-grey-darkest: #2b3945;
$color-grey-light: #DFE0E4;

$color-light-blue: #F7F8FB;
$color-blue: #009DEA;

//font
$base-font-size: 14px;

//spacing unit
$base-spacing-unit: 5px;
